<template>
  <div class="about">
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-t-104 p-b-20">
      <h2 class="ltext-107 txt-center">
        О нас
      </h2>
    </section>	


    <!-- Content page -->
    <section class="bg0 p-t-50 p-b-40">
      <div class="container">
        <div class="flex-w flex-tr">
          <div class="size-210 bor10 p-lr-30 p-t-15 p-b-15 p-lr-15-lg w-full-md">
            <form>
              <h4 class="mtext-105 cl2 txt-center p-b-30">
                Send Us A Message
              </h4>

              <div class="bor8 m-b-20 how-pos4-parent">
                <i class="fs-18 how-pos4 pointer-none far fa-envelope"></i>
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email" placeholder="Your Email Address">
              </div>

              <div class="bor8 m-b-30">
                <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg" placeholder="How Can We Help?"></textarea>
              </div>

              <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                Submit
              </button>
            </form>
          </div>

          <div class="size-210 bor10 flex-w flex-col-m p-lr-15 p-tb-15 p-lr-15-lg w-full-md">
            <div class="flex-w w-full p-b-42">
              <span class="fs-18 cl5 txt-center size-211">
                <i class="fas fa-map-marker-alt"></i>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Address
                </span>

                <p class="stext-115 cl6 size-213 p-t-18">
                  Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
                </p>
              </div>
            </div>

            <div class="flex-w w-full p-b-42">
              <span class="fs-18 cl5 txt-center size-211">
                <i class="fas fa-phone-alt"></i>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Lets Talk
                </span>

                <p class="stext-115 cl1 size-213 p-t-18">
                  +1 800 1236879
                </p>
              </div>
            </div>

            <div class="flex-w w-full">
              <span class="fs-18 cl5 txt-center size-211">
                <i class="fas fa-envelope"></i>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Sale Support
                </span>

                <p class="stext-115 cl1 size-213 p-t-18">
                  contact@example.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>	
    
    
    <!-- Map -->
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2052.833764042358!2d104.28775232594779!3d52.27526268558973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83b51d50330b5%3A0x3a0b47bcec2d827b!2sCastro%20Cafe!5e0!3m2!1sru!2sru!4v1585641205845!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      <!-- <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div> -->
    </div>
  </div>
</template>
