<template>
  <div id="home">
    <div class="hero-wrap js-fullheight" :style="{ 'background-image': 'url(' + require('@/eventalk/images/bg_1.jpg') + ')' }" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-xl-10 " data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> Developer <br><span>Conference 2020</span></h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">June 07-10, 2020. Irkutsk, Russia</p>
        <div id="timer" class="d-flex mb-3">
                        <div class="time" id="days"></div>
                        <div class="time pl-4" id="hours"></div>
                        <div class="time pl-4" id="minutes"></div>
                        <div class="time pl-4" id="seconds"></div>
                    </div>
        </div>
    </div>
    </div>
</div>

<section class="ftco-section services-section bg-light">
    <div class="container">
    <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-placeholder"></span></div>
            <div class="media-body">
            <h3 class="heading mb-3">Venue</h3>
            <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
        </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-world"></span></div>
            <div class="media-body">
            <h3 class="heading mb-3">Transport</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
            </div>
        </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-hotel"></span></div>
            <div class="media-body">
            <h3 class="heading mb-3">Hotel</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
            </div>
        </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-cooking"></span></div>
            <div class="media-body">
            <h3 class="heading mb-3">Restaurant</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
            </div>
        </div>      
        </div>
    </div>
    </div>
</section>

<section class="ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch" :style="{ 'background-image': 'url(' + require('@/eventalk/images/about.jpg') + ')' }"></div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ">
                <span class="subheading">Fun Facts</span>
                <h2 class="mb-4"><span>Fun</span> Facts</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
                <div class="row">
                <div class="col-md-6 justify-content-center counter-wrap ">
                <div class="block-18 text-center py-4 bg-light mb-4">
                    <div class="text">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-guest"></span>
                    </div>
                    <strong class="number" data-number="30">0</strong>
                    <span>Speakers</span>
                    </div>
                </div>
                </div>
                <div class="col-md-6 justify-content-center counter-wrap ">
                <div class="block-18 text-center py-4 bg-light mb-4">
                    <div class="text">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-handshake"></span>
                    </div>
                    <strong class="number" data-number="200">0</strong>
                    <span>Sponsor</span>
                    </div>
                </div>
                </div>
                <div class="col-md-6 justify-content-center counter-wrap ">
                <div class="block-18 text-center py-4 bg-light mb-4">
                    <div class="text">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-chair"></span>
                    </div>
                    <strong class="number" data-number="2500">0</strong>
                    <span>Total Seats</span>
                    </div>
                </div>
                </div>
                <div class="col-md-6 justify-content-center counter-wrap ">
                <div class="block-18 text-center py-4 bg-light mb-4">
                    <div class="text">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-idea"></span>
                    </div>
                    <strong class="number" data-number="40">0</strong>
                    <span>Topics</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="spicers" class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ">
        <span class="subheading">Speaker</span>
        <h2 class="mb-4"><span>Our</span> Speakers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="carousel-testimony owl-carousel">
                <div class="item">
                    <div class="speaker">
                        <img src="@/eventalk/images/speaker-1.jpg" class="img-fluid" alt="Colorlib HTML5 Template">
                        <div class="text text-center py-3">
                            <h3>John Adams</h3>
                            <span class="position">Web Developer</span>
                            <ul class="ftco-social mt-3">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="speaker">
                        <img src="@/eventalk/images/speaker-2.jpg" class="img-fluid" alt="Colorlib HTML5 Template">
                        <div class="text text-center py-3">
                            <h3>Paul George</h3>
                            <span class="position">Web Developer</span>
                            <ul class="ftco-social mt-3">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="speaker">
                        <img src="@/eventalk/images/speaker-3.jpg" class="img-fluid" alt="Colorlib HTML5 Template">
                        <div class="text text-center py-3">
                            <h3>James Smith</h3>
                            <span class="position">Web Developer</span>
                            <ul class="ftco-social mt-3">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="speaker">
                        <img src="@/eventalk/images/speaker-4.jpg" class="img-fluid" alt="Colorlib HTML5 Template">
                        <div class="text text-center py-3">
                            <h3>Angelie Crawford</h3>
                            <span class="position">Web Developer</span>
                            <ul class="ftco-social mt-3">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="speaker">
                        <img src="@/eventalk/images/speaker-5.jpg" class="img-fluid" alt="Colorlib HTML5 Template">
                        <div class="text text-center py-3">
                            <h3>Jackie Spears</h3>
                            <span class="position">Entrepreneur</span>
                            <ul class="ftco-social mt-3">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
    

    <section id="schedule" class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ">
        <span class="subheading">Schedule</span>
        <h2 class="mb-4"><span>Event</span> Schedule</h2>
        </div>
    </div>
    <div class="ftco-search">
                <div class="row">
        <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link  active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Day 01 <span>07 Jun. 2020</span></a>

                <a class="nav-link " id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Day 02 <span>08 Jun. 2020</span></a>

                <a class="nav-link " id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Day 03 <span>09 Jun. 2020</span></a>

                <a class="nav-link " id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Day 04 <span>10 Jun. 2020</span></a>

            </div>
            </div>
            <div class="col-md-12 tab-wrap">
            
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_1.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_3.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                </div>

                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_2.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_3.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_1.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_2.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_3.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_1.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_2.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                <div class="speaker-wrap  d-flex">
                    <div class="img speaker-img" :style="{ 'background-image': 'url(' + require('@/eventalk/images/person_3.jpg') + ')' }"></div>
                    <div class="text pl-md-5">
                        <span class="time">08: - 10:00</span>
                        <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
        </div>
    </section>
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
                <div v-for="(image, imageIndex) in photos" :key="imageIndex" @click="indexImgFull = imageIndex" class="col-md-3 ">
                    <a class="gallery image-popup img d-flex align-items-center" :style="{ 'background-image': 'url(' + require('@/eventalk/images/'+image) + ')' }">
                    </a>
                </div>
                <gallery :images="photos.map(elem => require('@/eventalk/images/'+elem))" :index="indexImgFull" @close="indexImgFull = null"></gallery>
    </div>
    </div>
</section>
  </div>
</template>

<script>
import "@/eventalk/css/open-iconic-bootstrap.min.css"
import "@/eventalk/css/animate.css"

import "@/eventalk/css/owl.carousel.min.css"
import "@/eventalk/css/owl.theme.default.min.css"
import "@/eventalk/css/magnific-popup.css"

import "@/eventalk/css/aos.css"

import "@/eventalk/css/ionicons.min.css"

import "@/eventalk/css/jquery.timepicker.css"


import "@/eventalk/css/flaticon.css"
import "@/eventalk/css/icomoon.css"
import "@/eventalk/css/style.css"

import playJs2 from '@/myjs/main3.js'
import VueGallery from 'vue-gallery';
export default {
    components: {
        'gallery': VueGallery
    },
    data() {
        return {
            indexImgFull: null,
            photos: ['image_1.jpg', 'image_2.jpg', 'image_3.jpg', 'image_4.jpg']
        }
    },
    mounted () {
        playJs2()
    },
}
</script>

<style>
.js-fullheight {
    height: 100vh;
}
</style>