<template>
  <div id="login">
    <div class="simple-login-container p-t-104">
      <h2>Login Form</h2>
      <div class="row">
          <div class="col-md-12 form-group">
              <input type="text" class="form-control" placeholder="Username" v-model="pineToolId">
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 form-group">
              <input type="password" placeholder="Enter your Password" class="form-control" v-model="password">
          </div>
      </div>
      <vue-recaptcha
        ref="recaptchaLogin"
        size="invisible"
        :sitekey="sitekey"
        v-on:verify="btnLogin"
        v-on:expired="onCaptchaExpired">
      </vue-recaptcha>
      <div class="row">
          <div class="col-md-12 form-group">
              <button class="btn btn-block btn-login" @click="submit">Войти</button>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
// import $ from 'jquery';
import VueRecaptcha from 'vue-recaptcha';
import { loginUser } from '@/api/auth.js'
import { mapState, mapMutations } from 'vuex'
export default {
  components: { VueRecaptcha },
  data() {
    return {
      year: new Date().getFullYear(),
      pineToolId: '',
      password: '',
      sitekey: '6LdHNPQUAAAAAIh6k31dk-9T7w-48S4SIF9GduFZ',
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.user,
    }),
  },
  methods: {
    ...mapMutations('user',[
      'setUser', 
    ]),
    getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    },
    setCookie(name, value, options = {}) {

      options = {
        path: '/',
        // при необходимости добавьте другие значения по умолчанию
        ...options
      };

      if (options.expires instanceof Date) {
        options.expires = options.expires.toUTCString();
      }

      let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

      for (let optionKey in options) {
        updatedCookie += "; " + optionKey;
        let optionValue = options[optionKey];
        if (optionValue !== true) {
          updatedCookie += "=" + optionValue;
        }
      }

      document.cookie = updatedCookie;
    },
    deleteCookie(name) {
      this.setCookie(name, "", {
        'max-age': -1
      })
    },
    submit(){
      if (this.pineToolId === '' || this.password === '') {
        return
      }
      this.$refs.recaptchaLogin.execute();
    },
    onCaptchaExpired () {
      this.$refs.recaptchaLogin.reset();
    },
    btnLogin (recaptchaToken){
      loginUser({pineToolId: this.pineToolId, password: this.password, 'g-recaptcha-response': recaptchaToken})
        .then((response) => {
          this.setUser(response.data.user)
          this.setCookie('_bearer_token', encodeURIComponent(response.data.token), {'max-age': 60*60*24, samesite: 'lax'})
          this.setCookie('_user', encodeURIComponent(response.data.user.id), {'max-age': 60*60*24, samesite: 'lax'})
          this.$router.push({ path: '/profile' }).catch(() => {})
          // this.loginCookies()
          // this.$router.push({ path: '/profile' }).catch(() => {})
        })
        .catch(() => {
          alert("Неправильный логин или пароль!!!")
        })
    }
  }
}
</script>
<style>
.simple-login-container{
    width:300px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
a{
    color:#fff;
}
</style>