<template>
  <div class="container p-t-104" style="min-height: calc(100vh - 172px);">
    <div v-if="user">
      <el-row :gutter="20">

        <el-col :offset="1" :span="6" :xs="{span: 24, offset: 0}">
          <user-card :user="user" />
        </el-col>

        <el-col :span="16" :xs="24">
          <el-card>
            <el-tabs v-model="activeTab">
              <el-tab-pane label="Данные" name="account">
                <account :user="user" />
              </el-tab-pane>
              <!-- <el-tab-pane label="История покупок" name="timeline">
                <timeline :Orders="user.Orders" />
              </el-tab-pane> -->
              <el-tab-pane label="Активити" name="activity">
                <activity />
              </el-tab-pane>
              <el-tab-pane label="Пары" name="activityMeLikes">
                <ActivityMeLikes />
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </el-col>

      </el-row>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import UserCard from './components/UserCard'
import Activity from './components/Activity'
import ActivityMeLikes from './components/ActivityMeLikes'
import Account from './components/Account'

export default {
  name: 'Profile',
  components: { UserCard, Activity, Account, ActivityMeLikes },
  data() {
    return {
      activeTab: 'account'
    }
  },
  created () {
    this.$store.dispatch('user/getDataUser')
  },
  computed: {
    ...mapState({
      user: state => state.user.user
    })
  }
}
</script>
<style>
.el-tabs__item.is-active {
  color: #6c7ae0;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #6c7ae0;
  outline: 0;
}
.el-button--primary {
  color: #FFF;
  background-color: #6c7ae0;
  border-color: #6c7ae0;
}
.el-tabs__active-bar {
  background-color: #6c7ae0;
}
.el-tabs__item:hover {
  color: #6c7ae0;
}
.el-button--primary:focus, .el-button--primary:hover {
  background: #6c7ae0;
  border-color: #6c7ae0;
  color: #FFF;
}
</style>