<template>
  <el-form>
    <el-form-item label="Фамилия">
      <el-input v-model="surname" />
    </el-form-item>
    <el-form-item label="Имя">
      <el-input v-model="name" />
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model="email" />
    </el-form-item>
    <el-form-item label="Position">
      <el-input v-model="position" />
    </el-form-item>
    <el-form-item label="About">
      <el-input type="textarea" :rows=3 v-model="about" />
    </el-form-item>
    <el-form-item label="Photo">
      <b-form-file
        v-model="myfile"
        :state="Boolean(myfile)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit">Обновить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { updateUser } from '@/api/user.js'
import { mapMutations } from 'vuex';
export default {
  name: 'Account',
  data() {
		return {
			name: this.user.name,
      email: this.user.email,
      surname: this.user.surname,
      about: this.user.about,
      position: this.user.position,
      myfile: null,
		}
	},
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: '',
          surname: '',
          id: '',
          about: '',
          position: '',
          myfile: null
        }
      }
    }
  },
  methods: {
    ...mapMutations('user',[
      'setName', 
      'setSurname',
      'setEmail',
      'setAbout',
      'setPosition',
      'setImage'
    ]),
    submit() {
        var formData = new FormData()
        if (this.myfile){
          formData.append('file', this.myfile, this.myfile.name)
        }
        else{
          formData.append('file', null)
        }
        formData.append('name', this.name)
        formData.append('email', this.email)
        formData.append('surname', this.surname)
        formData.append('about', this.about)
        formData.append('position', this.position)
        // data = { name: this.name, email: this.email, surname: this.surname, about: this.about, position: this.position }
        updateUser(this.user.id, formData)
        .then((res) => {
          // this.user.name = this.name
          // this.user.surname = this.surname
          // this.user.email = this.email
          console.log(res.data)
          this.setName(this.name)
          this.setSurname(this.surname)
          this.setEmail(this.email)
          this.setAbout(this.about)
          this.setPosition(this.position)
          if (this.myfile){
            this.setImage(res.data.url_img)
            this.myfile = null
          } 
        })
    }
  }
}
</script>
