<template>
  <div class="user-activity">
    <div class="post">
      <el-card class="m-b-20">
        <el-row :gutter="20">
          <el-col :span="24">
            <a href="https://t.me/joinchat/IigULhoLTroRjP7brG07Eg" class="btn btn-secondary">Данетка</a>
          </el-col>
        </el-row>
      </el-card>
      <el-card class="m-b-20">
        <el-row :gutter="20">
          <el-col :span="24">
            <b-button v-b-modal.addProduct @click="getPersons">Тиндер</b-button>
          </el-col>
        </el-row>
      </el-card>
    </div>

    <b-modal id="addProduct" title="Тиндер">
      <div class="card " style="width: 25rem; margin-left: auto; margin-right:auto;">
        <img :src="persons[selectPersonIndex].url_img ? persons[selectPersonIndex].url_img : 'https://wpimg.wallstcn.com/f778738c-e4f8-4870-b634-56703b4acafe.gif'" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{persons[selectPersonIndex].surname}} {{persons[selectPersonIndex].name}}</h5>
          <h6 class="card-title">{{persons[selectPersonIndex].position}}</h6>
          <p class="card-text">{{persons[selectPersonIndex].about}}</p>
        </div>
      </div>
      <template v-slot:modal-footer="{ cancel, ok }">
        <div class="w-100">
          
          <b-button
            variant="primary"
            size="sm"
            class="float-right m-l-20"
            @click="ok(); like();"
          >
            Like
          </b-button>
          <b-button
            variant="secondary"
            size="sm"
            class="float-left"
            @click="cancel(); dislike();"
          >
            Dislike
          </b-button>  
          
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { getUsers, updateUserLike } from '@/api/user.js'
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'Activity',
  data() {
		return {
      persons: [{surname: 'Вы посмотрели всех участников', name: '', about: '', position: ''}],
      selectPersonIndex: 0,
      total: 0,
		}
  },
  computed: {
    ...mapState({
      user: state => state.user.user
    }),
  },
  methods: {
    ...mapMutations('user',[
      'addLike', 
    ]),
    getPersons(){
      getUsers()
      .then((response) => {
           this.persons = response.data
           this.persons = this.persons.filter(elem => elem.id !== this.user.id && !this.user.children.find(item => item.id === elem.id))
           this.total = this.persons.length
          //  this.persons.sort((a, b) => b.id - a.id)
           this.persons.push({surname: 'Вы посмотрели всех участников', name: '', about: '', position: ''})
      })
    },
    like() {
      if(this.selectPersonIndex < this.total) {
        updateUserLike(this.user.id, {id: this.persons[this.selectPersonIndex].id, likes: true })
        .then(() => {
            this.addLike(this.persons[this.selectPersonIndex])
            if(this.selectPersonIndex + 1 < this.total) {
              this.$bvModal.show('addProduct')
            }
            this.selectPersonIndex = this.selectPersonIndex + 1
        })
      }
    },
    dislike() {
      if(this.selectPersonIndex < this.total) {
        updateUserLike(this.user.id, {id: this.persons[this.selectPersonIndex].id, likes: false })
        .then(() => {
            if(this.selectPersonIndex + 1 < this.total) {
              this.$bvModal.show('addProduct')
            }
            this.selectPersonIndex = this.selectPersonIndex + 1
        })
      }
    }
  }
}
</script>
