<template>
  <div class="user-activity">
    <div class="post">
      <h5>Люди, которые понравились Вам и Вы им понравились</h5>
      <el-card v-for="(respects, respectsIndex) in this.user.children.filter(elem => this.user.parent.find(item => item.id === elem.id && (elem.users_like.likes & item.users_like.likes === true) ))" :key="respectsIndex" class="m-b-20">
        <el-row :gutter="20">
          <el-col :span="8">
            {{respects.surname}} {{respects.name}}
          </el-col>
          <el-col :span="8">
            {{respects.email}}
          </el-col>
          <template v-if="user.childrenZoom && user.childrenZoom.find(elem => elem.id === respects.id)">
            <el-col :span="6">
              {{user.childrenZoom.find(elem => elem.id === respects.id).zoom_meeting.idZoom}}
              {{user.childrenZoom.find(elem => elem.id === respects.id).zoom_meeting.joinUrl}}
              {{user.childrenZoom.find(elem => elem.id === respects.id).zoom_meeting.password}}
            </el-col>
          </template>
          <template v-else-if="user.parentZoom && user.parentZoom.find(elem => elem.id === respects.id)">
            <el-col :span="6">
              {{user.parentZoom.find(elem => elem.id === respects.id).zoom_meeting.idZoom}}
              {{user.parentZoom.find(elem => elem.id === respects.id).zoom_meeting.startUrl}}
              {{user.parentZoom.find(elem => elem.id === respects.id).zoom_meeting.password}}
            </el-col>
          </template>
          <template v-else>
            <el-col :span="6">
              <button class="btn btn-secondary" @click="createZoom(respects.id)">Начать Zoom</button>
            </el-col>
          </template>
        </el-row>
      </el-card>
    </div>
  </div>
</template>

<script>
import { updateUserZoom } from '@/api/user.js'
import { mapState } from 'vuex'
export default {
  name: 'ActivityMeLikes',
  data() {
		return {
		}
  },
  sockets: {
    createZoom() {
      this.$store.dispatch('user/getDataUser')
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.user
    })
  },
  methods: {
    createZoom(id) {
      updateUserZoom(this.user.id, {id: id})
      .then(() => {
        this.$socket.emit('createZoom')
        this.$store.dispatch('user/getDataUser')
      })
    }
  }
}
</script>
<style>
  h5 { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: Arial, Sans-Serif;
    color: #606266;
  } 
  .el-card {
    font-style: Arial, Sans-Serif;
    color: #6C757D;
  }
</style>