<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span>Обо мне</span>
    </div>

    <div class="user-profile">
      <div class="box-center">
        <thumb :image="user.url_img ? user.url_img : 'https://wpimg.wallstcn.com/f778738c-e4f8-4870-b634-56703b4acafe.gif' " :height="'100px'" :width="'100px'" :hoverable="false" style='color:#6C757D'>
          <div>Ты</div>
          потряса<br>
          ющий!
        </thumb>
      </div>
      <div class="box-center">
        <div class="user-name text-center">{{ user.surname }}</div>
        <div class="user-role text-center text-muted">{{ user.name }}</div>
      </div>
    </div>

    <div class="user-bio">
      <div class="user-skills user-bio-section">
        <div class="user-bio-section-header"><span>Position</span></div>
        <div class="user-bio-section-body">
          <div class="text-muted">
            {{user.position}}
          </div>
        </div>
      </div>
    </div>

    <div class="user-bio">
      <div class="user-skills user-bio-section">
        <div class="user-bio-section-header"><span>Email</span></div>
        <div class="user-bio-section-body">
          <div class="text-muted">
            {{user.email}}
          </div>
        </div>
      </div>
    </div>

    <div class="user-bio">
      <div class="user-skills user-bio-section">
        <div class="user-bio-section-header"><span>About</span></div>
        <div class="user-bio-section-body">
          <div class="text-muted">
            {{user.about}}
          </div>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import Thumb from '@/components/Thumb'

export default {
  name: 'UserCard',
  components: { Thumb },
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: '',
          surname: '',
          id: '',
          url_img: null
        }
      }
    }
  }
}
</script>

<style scoped>
.box-center {
  margin: 0 auto;
  display: table;
}

.text-muted {
  color: #777;
}

.user-profile .user-name {
  font-weight: bold;
  color: #606266;
}

.user-profile .box-center {
  padding-top: 10px;
}

.user-profile .user-role {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

.user-profile .box-social {
  padding-top: 30px;
}
.user-profile .box-social .el-table {
  border-top: 1px solid #dfe6ec;
}

.user-profile .user-follow {
  padding-top: 20px;
}

.user-bio {
  margin-top: 20px;
  color: #606266;
}
.user-bio span {
  padding-left: 4px;
}

.user-bio .user-bio-section {
  font-size: 14px;
  padding: 15px 0;
}
.user-bio .user-bio-section .user-bio-section-header {
  border-bottom: 1px solid #dfe6ec;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.clearfix {
  color: #606266;
  font-weight: bold;
}
</style>
