<template>
  <div id="app">
    <header>
      <!-- Header desktop -->
      <div class="container-menu-desktop">
        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop container">
            
            <!-- Logo desktop -->
            <router-link to="/" class="logo"><img src="@/images/icons/logo-01.png" alt="IMG-LOGO"></router-link>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li class="active-menu">
                  <router-link to="/">Главная</router-link>
                </li>
                <li>
                  <router-link to="#spicers">Спикеры</router-link>
                </li>
                <li>
                  <router-link to="#schedule">Расписание</router-link>
                </li>
                <li>
                  <router-link to="/about">О нас</router-link>
                </li>
              </ul>
            </div>	

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m">
              <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                <i class="fas fa-user-circle"></i>
              </div>
              <template v-if="user">
                 <ul class="main-menu p-l-2">
                  <li class="margin-none dropdown">
                    <a class="dropdown-close" href="#" data-toggle="dropdown">Профиль</a>                            
                    <ul class="dropdown-menu form-wrapper dropdown-menu-right dropdown-no-click">
                      <li class="dropdown-item"><router-link to="/profile">Личный кабинет</router-link></li>
                      <li class="dropdown-item" @click="logout">Выйти</li>
                    </ul>
                  </li>
                </ul>
              </template>
              <template v-else> 
                <router-link class="dropdown-close" to="/login">Войти</router-link>
              </template>
             
            </div>
          </nav>
        </div>	
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <div class="logo-mobile">
          <router-link to="/"><img src="@/images/icons/logo-01.png" alt="IMG-LOGO"></router-link>
        </div>
        <div class="bottom-navbar-mobile">
          <div class="bottom-navbar-mobile__btn dropup">
            <a href="#" data-toggle="dropdown"><i class="fas fa-bars"></i></a>
            <div class="dropdown-menu">
              <router-link to="#spicers" class="dropdown-item">Спикеры</router-link>
              <router-link to="#schedule" class="dropdown-item">Расписание</router-link>
              <router-link to="/about" class="dropdown-item">О нас</router-link>
            </div>
          </div>
          <div class="bottom-navbar-mobile__btn">
            <router-link to="/"><i class="fas fa-home"></i></router-link>
          </div>
          <div class="bottom-navbar-mobile__btn dropup">
            <a class="dropdown-close" href="#" data-toggle="dropdown"><i class="fas fa-user-circle"></i></a>
            <!-- <i class="fas fa-user-check"></i> -->
            <ul class="dropdown-menu form-wrapper dropdown-menu-right dropdown-no-click mr-3 mb-3">					
              <template v-if="user">
                <li class="dropdown-item"><router-link to="/profile">Личный кабинет</router-link></li>
                <li class="dropdown-item" @click="logout">Выйти</li>
              </template>
              <template v-else>
                <li class="dropdown-item"><router-link to="/login">Войти</router-link></li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <router-view />
    <!-- Footer -->
    <footer class="bg3 p-b-56">
      <div class="container">
        <div class="p-t-20">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="footer-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer-icon"><i class="fab fa-vk"></i></a>
            <a href="#" class="footer-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="footer-icon"><i class="fab fa-youtube"></i></a>
            <a href="#" class="footer-icon"><i class="fab fa-twitter"></i></a>
          </div>

          <p class="stext-107 cl6 txt-center">
            Этот сайт защищен reCAPTCHA и применяются
					<a href="https://policies.google.com/privacy">Политика конфиденциальности</a> и
					<a href="https://policies.google.com/terms">Условия обслуживания</a> Google. <br>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy; {{year}}. All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

          </p>
        </div>
      </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="fas fa-chevron-up"></i>
      </span>
    </div>
  </div>
</template>

<script>
// import $ from 'jquery';
import { mapState, mapMutations } from 'vuex'
import playJs from '@/myjs/main2.js'
export default {
  data() {
    return {
      year: new Date().getFullYear()
    }
  },
  created () {
    this.loginCookies()
  },
  mounted () {
    playJs()
  },
  computed: {
    ...mapState({
      user: state => state.user.user
    }),
  },
  methods: {
    ...mapMutations('user',[
      'setUser', 
    ]),
    getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    },
    setCookie(name, value, options = {}) {

      options = {
        path: '/',
        // при необходимости добавьте другие значения по умолчанию
        ...options
      };

      if (options.expires instanceof Date) {
        options.expires = options.expires.toUTCString();
      }

      let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

      for (let optionKey in options) {
        updatedCookie += "; " + optionKey;
        let optionValue = options[optionKey];
        if (optionValue !== true) {
          updatedCookie += "=" + optionValue;
        }
      }

      document.cookie = updatedCookie;
    },
    deleteCookie(name) {
      this.setCookie(name, "", {
        'max-age': -1
      })
    },
    logout(){
      this.deleteCookie('_bearer_token')
      this.deleteCookie('_user')
      this.deleteCookie('session')
      this.deleteCookie('session.sig')
      // document.cookie = '_bearer_token=; max-age=-1;';
      // document.cookie = '_user=; max-age=-1;';
      this.setUser(null)
      this.isLogin = true
      // $('.dropdown-close').dropdown('toggle')
      // $(".dropdown .dropup").removeClass("open");
      this.$router.push({ path: '/' }).catch(() => {})
    },
    loginCookies() {
      var data = this.getCookie('session')
      if (data && !this.getCookie('_bearer_token')) {
        var decodedData = JSON.parse(window.atob(data));
        this.setCookie('_bearer_token', encodeURIComponent(decodedData.token), {'max-age': 60*60*24, samesite: 'lax'})
      }
      this.$store.dispatch('user/getDataUser')
    }
  }
}
</script>

<style>
.footer-icon i {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 10px;
  border-radius: 50%;
  color: white;
  width: 50px;
}
.footer-icon:hover{
  opacity: 0.7;
  color: none;
}
.footer-icon .fa-facebook-f {
  background: #3B5998;
}
.footer-icon .fa-twitter {
  background: #55ACEE;
}
.footer-icon .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.footer-icon .fa-vk {
  background: #007bb5;
}
.footer-icon .fa-youtube {
  background: #bb0000;
}

</style>